<tr>
    <td><%= f.select :sport_id, @sports, include_blank: true %></td>
    <td><%= f.date_field :paticipation_date %></td>
    <td><%= f.select :duration, activity_durations, include_blank: true %></td>
    <td><%= f.hidden_field :_destroy %>
        <%= link_to 'Remove', '#', id: 'remove_activity_field', class: 'btn btn-danger'%>
    </td>
</tr>