<%= form_with(model: member, local: true) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="avatar_field" class="field">
    <% if member.avatar.attached? %>
      <%= image_tag member.avatar, size: "100" %>
    <% end %>
    <div class="clear"></div>
    <%= form.file_field :avatar %>
  </div>
  <div class="clear"></div>
  <div id="first_name_field" class="field">
    <%= form.label 'First Name: '%>
    <%= form.text_field :first_name %>
  </div>
  <div id="last_name_field" class="field">
    <%= form.label 'Last Name:  '%>
    <%= form.text_field :last_name %>
  </div>
  <div id="email_field" class="field">
    <%= form.label 'Email:  '%>
    <%= form.text_field :email %>
  </div>
  <div class="clear"></div>
  <div id="height_name_field" class="field">
    <%= form.label 'Height(inches): '%>
    <%= form.text_field :height_in_inches %>
  </div>
  <div id="weight_name_field" class="field">
    <%= form.label 'Weight(lbs): '%>
    <%= form.text_field :weight_in_lb %>
  </div>
  <div id="isPublic_field" class="field">
    <%= form.label 'Profile Public?:  '%>
    <%= form.select :isPublic, [true, false], :selected => member.isPublic %>
  </div>
  <div class="clear"></div>
  <div id="interests_field" class="field">
    <%= form.label 'Interested In:  '%>
    <%= form.select :interests, @sports, {}, {:multiple => true, :class => 'form-control selectpicker'} %>
  </div>
  <div class="clear"></div>
  <div class="bolded">Input Activity</div>
  <table class="member_activity">
    <tr>
      <th>Pick a Sport</th>
      <th>Choose a Date</th>
      <th>Enter Duration</th>
    </tr>
    <%= form.fields_for(:activities) do |activity| %>
      <%= render 'activity_fields', f: activity %>
    <% end %>
  </table>
  <%= link_to_add_fields "Add Activity", form, :activities %>
  <div class="clear"></div></br>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary'%>
    <%= link_to 'Back', @member, class: 'btn btn-info' %>
  </div>
<% end %>
