<%= form_with(model: member, local: true) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="first_name_field" class="field">
    <%= form.label 'First Name: '%>
    <%= form.text_field :first_name %>
  </div>
  <div id="last_name_field" class="field">
    <%= form.label 'Last Name:  '%>
    <%= form.text_field :last_name %>
  </div>
  <div id="email_field" class="field">
    <%= form.label 'Email:  '%>
    <%= form.text_field :email %>
  </div>
  <div class="clear"></div>
  <div id="height_name_field" class="field">
    <%= form.label 'Height: '%>
    <%= form.text_field :height_in_inches %>
  </div>
  <div id="weight_name_field" class="field">
    <%= form.label 'Weight: '%>
    <%= form.text_field :weight_in_lb %>
  </div>
  <div class="clear"></div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
