<p id="notice"><%= notice %></p>
<% unless @profile_view %>
	<%= line_chart member_activity_chart_path(@member), id: "member_activity_chart", xtitle: "Participation Date", ytitle: "Activity in mins", messages: {empty: "No Activity"} %>
<% end %>
<div class="clear"></div>
<% if @member.isPublic || @profile_view %>
	<div id="member_show_details">
		<%= render 'member_details' %>
		<% unless !@profile_view %>
			<%= link_to 'Edit', edit_member_path(@member), class: 'btn btn-primary' %> 
		<% else %>
			<%= link_to 'Go Back', members_path, class: 'btn btn-info' %>
		<% end %>
		<div class="clear"></div>
		<%= render 'sports_interests' %>
		<div class="clear"></div>
		</br>
		<%= render 'member_teams' %>
	</div>
	<div class="clear"></div>
<% else %>
	<div class="bolded">Member Profile is not public</div>
	<%= link_to 'Go Back', members_path, class: 'btn btn-info' %>
<% end %>